@media (max-width: 479px){
	.tab-booking .nav-tabs li a {
		font-size: 14px;
	}
}

@media (max-width: 359px){
	.tab-booking .item-room .action .button-action span {
		font-size: 11px;
		text-align: center;
		-webkit-transform:unset;
    	transform: unset; 
	}

	.tab-booking .item-room .action .button-action {
		padding: 10px;
		text-align: center;
	}
}

/*===================================*/

/* giao dien front end 2 */

.LoginAndRegister .btn,
.modalLogin .close,
.modalLogin .btn,
.modalLogin .wrapBtnLogin .bgBlack:before,
.modalLogin .textDescription,
.slideCheckbox .lblCheckbox .check,
.slideCheckbox .lblCheckbox {
	transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button login and register */
.LoginAndRegister {
	position: fixed;
	top: 50%;
	left: -135px;
	height: 89px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.LoginAndRegister .wrapBtn {
	position: relative;
	height: 89px;
}

.LoginAndRegister .btn {
	font-size: 16px;
	color: #fff;
	background-color: #5b5541;
	display: block;
	padding: 0;
	width: 185px;
	text-align: right;
	position: absolute;
	left:0;
    text-transform: uppercase;
}

.LoginAndRegister .btnLogin {
	top: 0;
}

.LoginAndRegister .btnRegister {
	bottom: 0;
}

.LoginAndRegister .btn .text,
.LoginAndRegister .btn .icon {
	padding: 10px 15px;
	display: inline-block;
}

.LoginAndRegister .btn .text {
	width: 135px;
	text-align: center;
}

.LoginAndRegister .btn .icon {
	background-color: #af983d;
	width: 50px;
	text-align: center;
}

.LoginAndRegister .btn:hover {
	left: 135px;
}

/* end button login and register */

/* modal login */
.modalLogin {
	padding: 0 !important;
	overflow: auto;
}

.modalLogin .modal-dialog {
	max-width: 600px;
}

.modalLogin .modal-content {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.modalLogin .modal-header {
	position: relative;
	padding: 0;
	text-align: center;
	padding: 20px;
}

.modalLogin .modal-title {
	text-transform: uppercase;
	font-size: 30px;
	color: #949597;
	text-align: center;
}

.modalLogin .logoFrm {
	width: 220px;
	height: auto;
}

.modalLogin .close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	padding: 5px 10px;
	background-color: #5b5541;
	color: white;
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 0;
}

.modalLogin .close:hover {
	background-color: #af983d;
}

.modalLogin .modal-body,
.modalLogin .modal-footer {
	padding: 20px;
}

.modalLogin form .form-group {
	margin-bottom: 20px;
}

.modalLogin form .form-group label {
	color: #af983d;
	text-transform: uppercase;
	font-size: 14px;
}

.modalLogin form .form-group .input-group {
	border: 2px solid #c3b088;
}

.modalLogin form .form-group .input-group .textDescription {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 14px;
	color: #949597;
	margin: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}

.modalLogin form .form-group .form-control,
.modalLogin form .input-group-addon {
	border: none;
	border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    -ms-box-shadow: unset;
    -o-box-shadow: unset;
} 

.modalLogin form .form-group .form-control {
	padding: 20px;
	font-size: 14px;
}

.modalLogin form .form-group .input-group .form-control:focus ~ .textDescription {
	opacity: 0;
	filter: alpha(opacity=0);
}

.modalLogin form .input-group-addon {
	padding: 10px 15px;
	font-size: 20px;
	color: #af983d;
}

.modalLogin .wrapBtnLogin .btnLogin {
	background-color:unset;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 20px;
	display: block;
	width: 100%;
}

.modalLogin .wrapBtnLogin .btnLogin svg {
	margin-right: 5px;
}

.modalLogin .wrapBtnLogin .wrapBtnLoginElement {
	float: left;
	width: 50%;
}

.modalLogin .wrapBtnLogin.onlyLogin .wrapBtnLoginElement {
	float: none;
	display: table;
	margin: auto;
	width: 160px;
}

.modalLogin .wrapBtnLogin .wrapBtnLoginElement:nth-child(1){
	padding-right: 10px;
}

.modalLogin .wrapBtnLogin.onlyLogin .wrapBtnLoginElement:nth-child(1){
	padding-right: 0;
}

.modalLogin .wrapBtnLogin .wrapBtnLoginElement:nth-child(2){
	padding-left: 10px;
}

.modalLogin .wrapBtnLogin .bgBlack {
	background-color: #000;
	position: relative;
}

.modalLogin .wrapBtnLogin .bgBlack.facebook {
	background-color: #4267b2;
}

.modalLogin .wrapBtnLogin .bgBlack.google{
	background-color: #ea4335;
}

.modalLogin .wrapBtnLogin .bgBlack:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #af983d;
	content: '';
}

.modalLogin .wrapBtnLogin .wrapBtnLoginElement:hover .bgBlack:before {
	width: 100%;
}

.modalLogin .wrapBtnLogin .wrapBtnLoginElement:hover .bgBlack .btnLogin {
	padding-left: 40px;
}

.modalLogin .modal-footer {
	position: relative;
}

.modalLogin .modal-footer .titleOr {
	position: absolute;
	padding:0 30px;
	display: table;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: -11px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .btnLogin {
	background-color: unset;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	color: #000;
	background-color: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    -ms-box-shadow: unset;
    -o-box-shadow: unset;
    padding: 0;
    display: table;
    margin: 20px auto 0 auto;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .btnLogin svg {
	margin-left: 5px;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .wrapBtnLoginElement:nth-child(1) .btnLogin {
	text-align: left;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .wrapBtnLoginElement:nth-child(2) .btnLogin {
	text-align: right;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .btnLogin:focus {
	background-color: unset;
}

.modalLogin .wrapBtnLogin.registerAndForgotPass .btnLogin:hover {
	color: #af983d;
	padding: 0;
}

.modalLogin .backLogin {
	margin-top: 0;
}

.modalLogin .backLogin .btnLogin svg {
	margin: 0 5px 0 0;
}

.modalLogin form .addCaptcha {
	padding: 0;
} 

.modalLogin form .addCaptcha img {
	height: 40px;
	width: auto;
}

.modalLogin .backLogin .btnLogin {
	margin-top: 0 !important;
}

.modalLogin .modal-footer.header {
	border-top: none;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}

.modalLogin .modal-footer.header .titleOr {
	top: auto;
	bottom: -11px
}

/* checkbox */
.slideCheckbox {
	width: 44px;
	height: 24px;
	float: left;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.slideCheckbox .inputCheck {
	visibility: hidden;
}

.slideCheckbox .lblCheckbox {
	width: 44px;
	height: 24px;
	margin: 0;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.slideCheckbox .lblCheckbox .check {
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.lblCheckboxText {
	margin: 2px 0 0 5px;
}

.slideCheckbox .inputCheck:checked + .lblCheckbox {
	background-color: #af983d;
}

.slideCheckbox .inputCheck:checked + .lblCheckbox .check {
	left: 22px;
}

.slideCheckbox .lblCheckbox:hover {
	cursor: pointer;
}

@media (max-width: 767px){
	.modalLogin .modal-dialog {
	    max-width: 100%;
	    margin: auto;
	}

	.modalLogin .backLogin .wrapBtnLoginElement {
		width: 100%;
		padding: 0 !important;
	}
}

@media (max-width: 479px){
	.modalLogin .widthFacebookGoogle .wrapBtnLoginElement {
		width: 100%;
		float: none;
		padding: 0 !important;
	}

	.modalLogin .widthFacebookGoogle .wrapBtnLoginElement:nth-child(1) {
		margin-bottom: 15px;
	}
}
/* end modal login */